In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import gmaps

from config import (gkey)

# Configure gmaps
gmaps.configure(api_key=gkey)

In [13]:
weather_data=pd.read_csv("Resources/weather_data.csv")

In [14]:
weather_data.head()

,CityName,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,Al Wakrah,24.8500,51.3333,288.15,51,1,2.06
1,Gondar,12.6000,37.4667,290.51,38,49,1.32
2,Severin,53.5035,11.7719,271.48,95,100,2.24
3,Ereencav,49.8807,115.7253,246.26,84,2,4.77
4,Sharbulak,41.7667,69.4833,281.11,31,0,5.14

In [15]:
map_data = weather_data.loc[:, ['Latitude', 'Longitude','Humidity (%)']]

In [16]:
map_data

     Latitude  Longitude  Humidity (%)
0     24.8500    51.3333            51
1     12.6000    37.4667            38
2     53.5035    11.7719            95
3     49.8807   115.7253            84
4     41.7667    69.4833            31
..        ...        ...           ...
595   55.0450    60.1083            89
596   31.9371    35.2032            76
597   53.2049    34.2960            92
598   54.0667    28.2000            92
599   49.9892    20.6866            86

[600 rows x 3 columns]