In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import gmaps

from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [17]:
weather_data=pd.read_csv("Resources/weather_data.csv")

In [18]:
weather_data.head()

,CityName,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,Al Wakrah,24.8500,51.3333,288.15,51,1,2.06
1,Gondar,12.6000,37.4667,290.51,38,49,1.32
2,Severin,53.5035,11.7719,271.48,95,100,2.24
3,Ereencav,49.8807,115.7253,246.26,84,2,4.77
4,Sharbulak,41.7667,69.4833,281.11,31,0,5.14

In [19]:
map_data = weather_data.loc[:, ['Latitude', 'Longitude','Humidity (%)']]

In [24]:
map_data.head()

   Latitude  Longitude  Humidity (%)
0   24.8500    51.3333            51
1   12.6000    37.4667            38
2   53.5035    11.7719            95
3   49.8807   115.7253            84
4   41.7667    69.4833            31

In [23]:
fig=gmaps.figure()
heatmap_layer=gmaps.heatmap_layer(
                map_data[['Latitude','Longitude']], 
                weights=weather_data['Humidity (%)'], 
                max_intensity=10, point_radius=5.0)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
Ideal_Weather = weather_data[(weather_data['Temperature (F)'] > 70) & (weather_data['Wind Speed (mph)'] < 10) & (weather_data['Cloudiness (%)'] == 0)]

In [40]:
Ideal_Weather

,CityName,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
4,Sharbulak,41.7667,69.4833,281.11,31,0,5.14
6,Hexi,24.1436,102.6486,281.80,88,0,1.61
8,Guntur,16.3000,80.4500,292.24,89,0,1.78
9,Kantilo,20.3500,85.1833,295.15,88,0,0.77
14,Koyasu,35.4181,139.2556,283.44,40,0,2.68
...,...,...,...,...,...,...,...
568,Al Fujairah City,25.1164,56.3414,293.15,56,0,2.57
575,Iernut,46.4500,24.2500,268.49,80,0,3.09
581,Aravissós,40.8400,22.2956,273.35,65,0,2.68
592,Ovsyannikovo,56.1000,37.3833,253.15,77,0,2.00
596,Surdā,31.9371,35.2032,284.69,76,0,2.06